body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  min-height: 100vh;
  min-height: -webkit-fill-available; }

.container {
  margin: 0 auto;
  width: 500px;
  border-radius: 15px 15px 0 0;
  background-color: #B9B1AA; }

.list-header {
  height: 240px;
  margin-bottom: 20px;
  align-self: center;
  background-image: url("../images/img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative; }
  .list-header h1 {
    padding: 1rem;
    margin-top: 0;
    color: #21160D; }
  .list-header #date {
    position: absolute;
    bottom: 1rem;
    left: 20px;
    color: #eaeaea;
    font-size: 20px;
    font-weight: 500; }

.todo-component {
  display: flex;
  flex-flow: column;
  padding: 0 20px; }

.todo-component__control {
  display: flex;
  flex-flow: row nowrap; }

.todo-component__input-group {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  padding-right: 10px; }

.todo-component__control input {
  height: 25px;
  width: 100%;
  border-color: #eaeaea;
  background-color: #eaeaea;
  border-radius: 5px; }

.todo-component__control button {
  height: 32px;
  width: 64px;
  background-color: #eaeaea;
  border-radius: 5px;
  font-family: 'Titillium Web', sans-serif;
  color: green;
  font-weight: 800;
  cursor: pointer; }
  .todo-component__control button:hover {
    border: 2px solid green; }

.todo-component__control span {
  padding: 10px 10px 0 10px; }

.todolist {
  width: 100%;
  padding: 0;
  margin: 10px 0; }

.todolist__item {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #eaeaea;
  border: 1px solid grey;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0; }

.todolist__item input[type='checkbox'], .todolist__item button {
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer; }

.todolist__item input[type='checkbox'] {
  visibility: hidden; }
  .todolist__item input[type='checkbox']:after {
    content: "";
    background-color: #eaeaea;
    display: inline-block;
    color: green;
    width: 18px;
    height: 18px;
    border: 1px solid green;
    border-radius: 5px;
    visibility: visible;
    position: relative;
    top: -3px; }
  .todolist__item input[type='checkbox']:checked:after {
    content: "\2714";
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -3px; }

.todolist__item button:hover {
  background-color: red; }

.todolist__item span {
  margin-left: 10px;
  width: 100%;
  word-break: break-all; }

.complete {
  border: 2px solid green; }

.complete.todolist__item span {
  text-decoration: line-through;
  color: #ccc; }
